.container-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin: 0px 32px 158px 32px;
    gap: 16px;
}
.container-list__title{
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 700;
    text-align: center;
    padding: 32px 0px 60px 0px;
}