.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}
.container-home__title {
  font-size: 3rem;
  line-height: 3rem;
  color: var(--fourth-color);
}
.container-home__link {
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--third-color);
  text-decoration: underline;
}
